[Unit]
Description=System API daemon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/sys-api-server server /etc/configuration.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
